/*
  Importing fonts
*/ 

 @import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 98%;
  font-family: 'Zilla Slab', serif;
  margin: 2% auto;
}

.note {
  font-size: 90%;
}

canvas {
  position: absolute;
  margin: 10px auto;
  box-shadow: 0 0 1px inset;
}

#banner_background {
  z-index: 0;
}

#banner {
  z-index: 1;
}

input, button {
  font-weight: bold;
  line-height: 100%;
  height: 30px;
  border: 0;
  box-shadow: 0 0 1px inset;
  padding: 5px;
}
